* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dce2e6;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The Header */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 5%;
    background-color: #095c91;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 18%;
    padding: 5px;
}

#Menu_Bar {
    display: none;
}

header label {
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    display: none;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    font-size: 1.1rem;
    color: #fff;
    margin: 10px;
    padding: 5px;
    display: block;
    transition: .2s ease-out;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
    background: linear-gradient(purple, red);
    border-radius: 20px;
    transform: rotate(2deg);
}

nav ul li ul {
    position: absolute;
    left: 0;
    background: linear-gradient(#095c91, purple );
    line-height: 0.3rem;
    display: none;
}

nav ul li:focus-within>ul,
nav ul li:hover>ul {
    display: initial;
}


/* --------nrsIntro------- */
/* --------nrsIntro------- */

.nrsIntro {
    padding-top: 8%;
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-top: 3px;
    color: #095c99;
}

h2 span {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dd0d0d;
    padding: 5px;
    border-radius: 30px;
}

.say {
    color: #fff;
    background-color: #095C91;
    padding: 5px;
    border-radius: 30px;
}

p {
    font-size: .9rem;
    color: #000;
}


.iconP1 {
    padding: 0 auto;
    height: 50%;
    width: 50%;
}

.iconT1 {
    height: 50%;
    width: 50%;
}

.iconW1 {
    height: 35%;
    width: 35%;
}

.iconM1 {
    height: 35%;
    width: 35%;
}


@media(max-width:768px) {
    header {
        padding: 3%;
    }

    header img {
        width: 25%;
    }


    header label {
        display: initial;
    }

    header nav {
        position: absolute;
        background: #095c91;
        top: 100%;
        right: 0;
        left: 0;
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li ul {
        position: relative;
        width: 100%;
    }

    nav .iconP1 {
        height: 5%;
        width: 5%;
    }

    nav .iconM1 {
        height: 3%;
        width: 3%;
    }

    nav .iconW1 {
        height: 3%;
        width: 3%;
    }

    nav .iconT1 {
        height: 5%;
        width: 5%;

    }

    nav ul li ul a {
        background-color: #096c91;
        color: #fff;
        padding: 1%;
        margin: 0;
    }

    nav ul li ul a:hover {
        background: #fff;
        color: #111;
        transform: none;
    }

    #Menu_Bar:checked ~ nav {
        display: initial;
    }

    .nrsIntro {
        padding-top: 18%;

    }
    
    main {
        padding: 3%;
    }
    h1 {
        text-align: center;
    }


}












/* The Footer */
/* The Footer */

footer {
    background-color: #095C91;
    color: white;
    text-align: center;

}

footer img {
    display: flex horizontal;
    padding: 0px 20px;
}


footer p {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: .9rem;
    color: #095C91;
    background-color: white;
    padding: 2px;
    border-radius: 20px;


}

.iconP {
    height: 40px;
    width: 40px;
}

.iconT {
    height: 35px;
    width: 35px;
}

.iconW {
    height: 35px;
    width: 35px;
}

.iconM {
    height: 35px;
    width: 35px;
}
